@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
// https://hookagency.com/blog/website-color-schemes-2020/#:~:text=red%20color%20scheme-,Ragin,-Beige%3A%20%23fff5d7

.title-box {
  margin: 0 auto;
  height: fit-content;
  width: fit-content;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #3d4652;
  border-radius: 10px;
  box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.3);
}
.title {
  font-size: 40px;
  color: white;
  margin: 10px;
}
