@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
// https://hookagency.com/blog/website-color-schemes-2020/#:~:text=red%20color%20scheme-,Ragin,-Beige%3A%20%23fff5d7

.title-box {
  margin: 0 auto;
  height: fit-content;
  width: fit-content;
  text-align: center;
  display: flex;
  background-color: #6b7a8f;
  border-radius: 10px;
}
.title {
  font-size: 35px;
  color: white;
  margin: 10px;
}
