@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
// https://hookagency.com/blog/website-color-schemes-2020/#:~:text=red%20color%20scheme-,Ragin,-Beige%3A%20%23fff5d7



.title-box{
  margin-right: 480px;
  margin-left: 480px;
  margin-top: 40px;
  height: fit-content;
  text-align: center;
  display: flex;
  align-items: center;
  width: fit-content;
  justify-content: center;
  background-color: #6B7A8F;
  border-radius: 10px;


}
.title{

  font-size: 35px;
  color: white;
  margin: 10px;


}
