@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

.card-area {
  margin-bottom: 100px;
}
.card-title {
  font-size: 25px;
  padding-top: 10px;
  padding-left: 10px;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

.card {
  margin: 0 auto;
  margin-top: 50px;
  width: 400px;
  min-height: 100px;
  height: fit-content;
  border-radius: 15px;
  box-shadow: 0px 6px 13px 5px rgba(0, 0, 0, 0.15);
  background-color: #6b7a8f;
}
.card-extended {
  background-color: black;
  width: 800px;
  height: 400px;
  margin-left: 200px;
  margin-top: 100px;
}
