.card-area {
  margin-bottom: 100px;
}
.h1 {
  font-size: 15px;
  font-family: Arial;
}

.card {
  margin: 0 auto;
  margin-top: 50px;
  background-color: white;
  width: 400px;
  height: 400px;
}
.card-extended {
  background-color: black;
  width: 800px;
  height: 400px;
  margin-left: 200px;
  margin-top: 100px;
}
